@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,700&family=Poppins:wght@700&display=swap);
#modalPedido .modal-dialog {
  margin: 0;
  float: right;
  height: 100%;
}
#modalPedido .modal-dialog .modal-content {
  height: 100%;
}

#cliente-nav {
  /* Hamburger */
  /*.hamburger-menu:hover {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
  }*/
  /* ./Hamburger */
  /* Media queries */
}
#cliente-nav nav {
  position: relative;
  z-index: 99;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  outline: none;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: width 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, height 400ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
#cliente-nav .expanded {
  width: 230px;
}
#cliente-nav .hamburger-mobile {
  display: none;
}
#cliente-nav .nav-items {
  margin: 0;
  padding: 70px 0 20px 0;
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#cliente-nav .item-wrapper {
  width: 230px;
  height: 50px;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  word-wrap: no-wrap;
  min-width: 0;
  color: #darkGrey;
  font-size: 18px;
}
#cliente-nav .item-wrapper:hover {
  cursor: pointer;
  background-color: rgba(71, 71, 71, 0.05);
  color: #428aff;
}
#cliente-nav .item-wrapper > svg {
  width: 80px;
  text-align: center;
}
#cliente-nav .profile {
  margin-top: auto;
  height: 60px;
}
#cliente-nav .profile > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 5px 15px;
}
#cliente-nav .selected {
  border-left: 4px solid #428aff;
  color: #428aff;
}
#cliente-nav .selected > svg {
  margin-left: -4px;
}
#cliente-nav .show {
  transform: translateX(0px);
}
#cliente-nav .icon-bar {
  background-color: #474747;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-bottom: 4px;
  transition: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}
#cliente-nav .hamburger-menu {
  display: block;
  cursor: pointer;
  position: fixed;
  padding: 10px;
  top: 19px;
  left: 19px;
  z-index: 999;
  transition: transform;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}
#cliente-nav .hamburger-menu:hover > .icon-bar {
  background-color: #428aff;
}
#cliente-nav .hamburger-menu:not(.collapsed) {
  transform: translateX(150px);
}
#cliente-nav .hamburger-menu:not(.collapsed) .icon-bar:nth-child(1) {
  transform: translateY(4.5px) rotate(-45deg) scaleX(0.5);
}
#cliente-nav .hamburger-menu:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  /*transform: translateX(-10px);*/
}
#cliente-nav .hamburger-menu:not(.collapsed) .icon-bar:nth-child(3) {
  transform: translateY(-1px) rotate(45deg) scaleX(0.5);
}
@media screen and (max-width: 768px) {
  #cliente-nav {
    /* ./Hamburger */
  }
  #cliente-nav nav {
    height: 50px;
    width: 100%;
  }
  #cliente-nav .hamburger-menu {
    display: none;
  }
  #cliente-nav .hamburger-mobile {
    cursor: pointer;
    position: fixed;
    padding: 10px;
    top: 8;
    left: 0;
    z-index: 999;
    transition: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
    display: block;
  }
  #cliente-nav .hamburger-mobile:hover > .icon-bar {
    background-color: #428aff;
  }
  #cliente-nav .hamburger-mobile:not(.collapsed) .icon-bar:nth-child(1) {
    transform: translateY(6px) rotate(-45deg);
  }
  #cliente-nav .hamburger-mobile:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
  }
  #cliente-nav .hamburger-mobile:not(.collapsed) .icon-bar:nth-child(3) {
    transform: translateY(-6px) rotate(45deg);
  }
  #cliente-nav .expanded-mobile {
    height: 100%;
  }
  #cliente-nav .item-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #cliente-nav .nav-items {
    overflow-y: hidden;
  }
  #cliente-nav .selected {
    border: none;
  }
  #cliente-nav .selected > svg {
    margin-left: 0;
  }
}

#cliente {
  display: flex;
}

#content-s1 {
  background-color: #e2e8f0;
  height: 100vh;
  width: 100%;
  font-family: "Nunito", sans-serif;
}
#content-s1 .bg-header {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
  height: auto;
  background-color: #000034;
  padding: 3em 3em 5em 3em;
}
#content-s1 .bg-header h1 {
  color: white;
  font-family: "Poppins", sans-serif;
}
#content-s1 .bg-header .today {
  color: white;
  display: flex;
  width: 70%;
  margin-top: 2em;
}
#content-s1 .bg-header .today p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
#content-s1 .bg-header .today p.lastPedido {
  color: gray;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
}
#content-s1 .bg-header .main-filter {
  display: flex;
  align-items: center;
}
#content-s1 .bg-header .main-filter .filter-add {
  color: white;
  width: auto !important;
  margin-left: 1em;
}
#content-s1 .bg-header .main-filter .filter-add button {
  border-radius: 30px;
  background-color: #48bb78;
}
#content-s1 .bg-header .main-filter .filter-add button:hover {
  background-color: #6ff1a2;
}
#content-s1 .bg-header .main-filter .filter-add button svg {
  width: 20px;
}
#content-s1 .bg-header .filter {
  margin-top: 2em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  width: 55%;
  padding: 0.5em;
}
#content-s1 .bg-header .filter p {
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#content-s1 .bg-header .filter .filtros-btn {
  text-align: right;
}
#content-s1 .bg-header .filter .filtros-btn button {
  border-radius: 30px;
  padding: 1px 8px 0 8px;
  border-color: #adadad;
  color: #adadad;
}
#content-s1 .bg-header .filter .filtros-btn button:hover {
  color: black;
}
#content-s1 .bg-header .filter .filtros-btn button svg {
  width: 15px;
}
#content-s1 .bg-header .filter .filtros-btn button svg.icon-success {
  color: #34ce34;
}
#content-s1 .bg-header .filter .filtros-btn button svg.icon-pending {
  color: orange;
}
#content-s1 .bg-header .filter .filtros-btn button svg.icon-canceled {
  color: red;
}
#content-s1 #tarjetas {
  width: 65%;
  padding: 0 2em 2em 2em;
  margin-top: -3em;
}
#content-s1 #tarjetas .card {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  border-left: 8px solid #3c97bf;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 7em;
}
#content-s1 #tarjetas .card:not(:nth-child(1)) {
  margin-top: 1em;
}
#content-s1 #tarjetas .card .content {
  margin-left: 1em;
  display: flex;
  align-items: center;
  height: 100%;
}
#content-s1 #tarjetas .card .content .main-estado {
  display: flex;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
#content-s1 #tarjetas .card .content .main-estado .circle {
  width: 5px;
  height: 5px;
  border-radius: 99px;
}
#content-s1 #tarjetas .card .content .main-estado.estado-pendiente {
  color: orange;
}
#content-s1 #tarjetas .card .content .main-estado.estado-cancelado {
  color: red;
}
#content-s1 #tarjetas .card .content .main-estado.estado-preparado {
  color: green;
}
#content-s1 #tarjetas .card .content .main-estado.estado-preparado {
  color: #5b72c6;
}
#content-s1 #tarjetas .card .content .separador {
  border-right: 1px solid #d0d0d0;
}
#content-s1 #tarjetas .card .content img {
  width: 65px;
  height: auto;
  border-radius: 99px;
}
#content-s1 #tarjetas .card .content .actions {
  color: #c7c7c7;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
#content-s1 #tarjetas .card .content .actions div:not(:nth-child(1)) > svg {
  margin-left: 1em;
}
#content-s1 #tarjetas .card .content p {
  margin: 0;
}
#content-s1 #tarjetas .card .content p.hora, #content-s1 #tarjetas .card .content p.nombre, #content-s1 #tarjetas .card .content p.fecha {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
#content-s1 #tarjetas .card .content p.lastTime {
  font-family: "Nunito", sans-serif;
  color: gray;
}
#content-s1 #tarjetas .card .content p.comentario {
  text-align: center;
}
